.Button {
    position: relative;
    margin-top: 2rem;
    padding: 16px 32px;
    border: none;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background-color: #61dafb;
}

.Button:hover {
    transition: .3s;
    background-color: #50b6d3;
    cursor: pointer;
}