:root {
  --wbs-blue: #405ea2;
}

* {
  margin: 0;
  padding: 0;
}

.header {
  position: absolute;
  width: 100%;
  height: 4rem;
  background-color: var(--wbs-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .headerContent {
  position: relative;
  height: 3.5rem;
  width: 96%;
  max-width: 1920px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.LinkButton {
  position: relative;
  margin: 0 4px;
  height: 2.5rem;
  padding: 0 16px;
  background-color: transparent;
  border-radius: 8px;
  border: none;
  color: white;
  font-size: 14px;
  z-index: 1000;
}

.LinkButton:hover {
  transition: .4s;
  background-color: aqua;
  cursor: pointer;
}

.spacer {
  position: relative;
  height: 5rem;
}

.welcome {
  position: relative;
}